.tzcg{}
.tzcg .tzsb_1{ width:632px; height:145px; margin:80px auto 0; background:url(../../images/wytz/bg_tzsb.png) no-repeat;}
.tzcg .tzsb_1 p{ padding-top:90px; font-size:14px; text-align:center;}
.tzcg .tzsb_1 p em{ font-style:normal; font-family:Verdana, Geneva, sans-serif;}
.tzcg_2{ margin:60px auto;}
.tzcg_2 .buy_list b{ width:400px;}