<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- 
            测试商户编号，请在正式上线时使用您自己的商户编号
       -->
		<add key="merhantId" value="10001126856"/>
		<!--  
            测试商户密钥,请在正式上线时使用您自己的商户密钥
      -->
		<add key="keyValue" value="69cl522AV6q613Ii4W6u8K6XuW8vM1N6bFgyv769220IuYe9u37N4y7rI4Pl"/>
		<!-- 
            交易请求地址，默认使用测试地址,请在正式上线时使用生产地址
     
    <add key="authorizationURL" value="http://tech.yeepay.com:8080/robot/debug.action"/> -->
		<add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>
		<!-- 
            查询和退款地址，默认使用测试地址,请在正式上线时使用生产地址
     
    <add key="queryRefundReqURL" value="http://tech.yeepay.com:8080/robot/debug.action"/> -->
		<add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-cn" uiCulture="zh-CHS"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
