<!--
  This template loads for the 'tab.javascript-detail' state (app.js)
  'javascript' is a $scope variable created in the JavascriptCtrl controller (controllers.js)
  The JavascriptCtrl pulls data from the javascript service (service.js)
  The javascript service returns an array of javascript data
-->
<ion-header-bar class="bar-royal">
    <a class="button icon-left ion-chevron-left button-royal" ui-sref="tab.javascript">Back</a>
    <div class="h1 title title-center" ng-bind="entity.title"></div>
</ion-header-bar>
<ion-view>
<ion-content>
<blockquote>
<pre>
<div ng-bind-html="html"></div>
</pre>
</blockquote>
</ion-content>
</ion-view>
