<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../../static/bootstrap/2.3.2/css_cerulean/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/util/util.css" />
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/forgetpassword.css" />
<title>找回密码</title>
</head>

<body>

<!--以下内容放入“<div class="juanzhou_middle"></div>”里面-->

<div class="content980">
	
    <div class="fp_area">
    	<div class="fp_tab">
        	<!--选项卡选中状态加上类“current”-->
            <a href="javascript:;" class="current">使用绑定手机找回密码</a>
            <a href="javascript:;">使用绑定邮箱找回密码</a>
        </div>
        
        <!--“使用绑定手机找回密码”内容-->
        <div class="fp_content show">
        	<form action="" method="get">
                <dl class="formList clearfix">
                    <dt>手机号码</dt>
                    <dd class="center"><input name="" type="text"></dd>
                    <dd class="sc">&nbsp;<a href="" class="bt_sms_code">获取验证码</a>&nbsp;</dd>
                    <dd class="tips hide">请输入正确的手机号码</dd><!--“hide”为隐藏，“show”为显示-->
                </dl>
                <dl class="formList clearfix">
                  <dt>收到的验证码</dt>
                    <dd class="center"><input name="" type="text"></dd>
                    <dd class="tips hide"><i class="blue_check bg_20x20"></i></dd><!--“hide”为隐藏，“show”为显示；输入正确显示蓝色图标“blue_check”，输入错误显示红色图标“red_check”。-->
                </dl>
                <div class="div_height_20"></div>
                <div class="btn_brown_158x38"><a href="javascript:;">提交</a></div>
          </form>
        </div>
        
        <!--“使用绑定邮箱找回密码”内容-->
        <div class="fp_content hide">
        
        	<!--此部分为输入邮箱、验证码并提交的内容-->
            <div class="show">
                <form action="" method="get">
                  <dl class="formList clearfix">
                        <dt>邮箱号码</dt>
                        <dd class="center"><input name="" type="text"></dd>
                    <dd class="tips hide">邮箱格式不正确</dd><!--“hide”为隐藏，“show”为显示-->
                    </dl>
                    <dl class="formList clearfix">
                      <dt>验证码</dt>
                        <dd class="center"><input name="" type="text"></dd>
                        <dd>&nbsp;<img src="../../../../static/modules/front/images/util/img_vcode.png" width="75" height="26" style="margin-top:5px;" />&nbsp;</dd>
                        <dd><a href="javascript:;">看不清，换一张</a></dd>
                        <dd class="tips hide"><i class="blue_check bg_20x20"></i></dd><!--“hide”为隐藏，“show”为显示；输入正确显示蓝色图标“blue_check”，输入错误显示红色图标“red_check”。-->
                    </dl>
                    <div class="div_height_20"></div>
                    <div class="btn_brown_158x38"><a href="javascript:;">提交</a></div>
                </form>
            </div>
          
        	<!--此部分提交表单后的提示内容-->
            <div class="hide">
            	<div class="text-center">验证邮件已经发送到您的邮箱，请查收邮件，并按照提示进一步操作！</div>
                <div class="div_height_20"></div>
            	<div class="text-center">如没有收到邮件，<span class=" blue-text">60</span>秒后&nbsp;&nbsp;<a href="javascript:;" class="brown-text a_underline">重新发送</a></div>
            </div>
          
        </div>
        
        
    </div>
    
    <div class="bottom-grain"></div>
</div>

</body>
</html>
