<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../../static/bootstrap/2.3.2/css_cerulean/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/util/util.css" />
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/forgetpassword.css" />
<title>重置密码成功！</title>
</head>

<body>

<!--以下内容放入“<div class="juanzhou_middle"></div>”里面-->

<div class="content980">
	
    <div class="fp_area">
        <div class="fp_content">
        	<div class="div_height_100"></div>
            <!--成功的图标为蓝色“blue_check”，未成功的图标为红色“red_check”-->
            <div class="text-center"><i class="blue_check noposition nomargin"></i></div>
            <div class="div_height_10"></div>
        	<div class="text-center font_size_18">重置密码成功</div>
        	<div class="div_height_40"></div>
            <div class="btn_brown_158x38"><a href="javascript:;">重新登录</a></div>
        </div>
    </div>
    
    <div class="bottom-grain"></div>
</div>

</body>
</html>
