<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../../static/bootstrap/2.3.2/css_cerulean/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/util/util.css" />
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/forgetpassword.css" />
<title>重置密码</title>
</head>

<body>

<!--以下内容放入“<div class="juanzhou_middle"></div>”里面-->

<div class="content980">
	
    <div class="fp_area">        
        <div class="fp_title">重置密码</div>
        
        <div class="fp_content">
        	<form action="" method="get">
                <dl class="formList clearfix">
                    <dt>新密码</dt>
                    <dd class="center"><input name="" type="text"></dd>
                    <dd class="tips hide">请输入正确的手机号码</dd><!--“hide”为隐藏，“show”为显示-->
                </dl>
                <dl class="formList clearfix">
                  <dt>确认新密码</dt>
                    <dd class="center"><input name="" type="text"></dd>
                    <dd class="tips hide"><i class="blue_check bg_20x20"></i></dd><!--“hide”为隐藏，“show”为显示；输入正确显示蓝色图标“blue_check”，输入错误显示红色图标“red_check”。-->
                </dl>
                <div class="div_height_20"></div>
                <div class="btn_brown_158x38"><a href="javascript:;">确定</a></div>
          </form>
        </div>
        
    </div>
    
    <div class="bottom-grain"></div>
</div>

</body>
</html>
