<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../../static/bootstrap/2.3.2/css_cerulean/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/util/util.css" />
<link rel="stylesheet" type="text/css" href="../../../../static/modules/front/css/wytz.css"/>

<title>债权转让</title>
</head>

<body>


<!--把项目列表直接拷一份，把以下内容直接替换“div_width_980”部分即可-->

<div class="div_width_980">
			<div id="condition_top"></div>
			<div id="condition_middle">
				<div class="div_height_10"></div>
				<div id="tab_bar">
					<li class="item"><span class="">项目列表</span></li>
					<li class="item"><span class="selected">债权转让</span></li>
				</div>
				<div id="condition">
					<div class="line_1">
	                    <label>可投金额：</label>
	                    <ul id="status">
	                        <li value="0" data-href="#" class="item  active">全部</li>
	                        <li value="1" data-href="#" class="item ">1万元以下</li>
	                        <li value="2" data-href="#" class="item ">1万-5万</li>
	                        <li value="3" data-href="#" class="item ">5万-20万</li>
	                        <li value="4" data-href="#" class="item ">20万以上</li>
	                    </ul>
                        <div class="enter_amount">
                        	<p class="ea_text">直接输入</p>
                        	<p class="ea_input"><input name="" type="text" /></p>
                        	<p class="ea_text">万元</p>
                        	<p class="ea_text ml0">~</p>
                        	<p class="ea_input"><input name="" type="text" /></p>
                        	<p class="ea_text">万元</p>
                        	<p class="ea_btn"><a href="javascript:;">确认</a></p>
                        </div>
	                </div>
	                <div class="line_1">
	                    <label>年化利率：</label>
	                    <ul id="duration">
	                        <li value="0" data-href="#" class="item  active">全部</li>
	                        <li value="1" data-href="#" class="item ">9%以下</li>
	                        <li value="2" data-href="#" class="item ">9-10%</li>
	                        <li value="3" data-href="#" class="item ">10-11%</li>
	                        <li value="4" data-href="#" class="item ">11-12%</li>
	                        <li value="5" data-href="#" class="item ">12-13%</li>
	                        <li value="5" data-href="#" class="item ">13-14%</li>
	                        <li value="6" data-href="#" class="item ">14%以上</li>
	                    </ul>
	                </div>
	                <div class="line_1">
	                    <label>剩余期限：</label>
	                    <ul id="rate">
	                        <li value="0" data-href="#" class="item  active">全部</li>
	                        <li value="1" data-href="#" class="item ">6个月以下</li>
	                        <li value="2" data-href="#" class="item ">6-12个月</li>
	                        <li value="3" data-href="#" class="item ">12个月以上</li>
	                    </ul>
	                </div>
	                <div class="line_1">
	                    <label>还款方式：</label>
	                    <ul id="repaymentMode">
	                        <li value="0" data-href="#" class="item  active">全部</li>
	                        <li value="1" data-href="#" class="item ">等额本息</li>
	                        <li value="2" data-href="#" class="item ">到期还本付息</li>
	                        <li value="3" data-href="#" class="item ">按月付息</li>
	                        <li value="3" data-href="#" class="item ">到期还本</li>
	                    </ul>
	                </div>
				</div>
			</div>
			<div id="condition_bottom"></div>
			<div class="div_height_20"></div>
        	<div class="line_dotted"></div>
        		<div id="project_list">
        			
        			
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
					<div class="item">
						<div class="top">
							<img src="../../../../static/modules/front/images/index/asset_flag.png" alt="">
							<span>bbb</span>
							<img class="img" src="../../../../static/modules/front/images/util/line_split.png" alt="">
							<span>到期还本付息</span>
						</div>
						<div class="line"></div>
						<div class="item-title">个人信用贷 a1</div>
						<div class="line"></div>
                        
						<div class="field_1 clearfix">
                        	<dl class="fl">
                            	<dt>年化利率</dt>
                                <dd><span>12.5</span>%</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余期限</dt>
                                <dd><span class="brown-text">6</span>个月</dd>
                            </dl>
                        </div>
                        <div class="item-line-7">已完成25.5%</div>
                        <progress class="item-line-5" value="0.2857142857142857" max="100"></progress>
                        <div class="field_2 clearfix">
                        	<dl class="fl">
                            	<dt>转让金额</dt>
                                <dd><span class="deepblue-text">20,000</span>元</dd>
                            </dl>
                        	<dl class="fr text-right">
                            	<dt>剩余金额</dt>
                                <dd><span class="deepblue-text">1,000</span>元</dd>
                            </dl>
                        </div>
                        
						<div class="clearfix"></div>
						
						<div class="line"></div>
						<div class="item-line-4"><a href="project_detail?id=2">立即投资</a></div>
						<div class="div_height_15"></div>
						<div class="item-line-7">1111</div>
					</div>
					
				</div>
				<div class="div_height_20"></div>
				<div id="page_navigation">
                	<div style="display:inline-block;"><span class="first_last_item"><span>&lt; 前页</span></span>
                        <span class="item"><span>1</span></span>
                        <span class="item"><a href="javascript:" onclick="page(2,12,'');">2</a></span>
                        <span class="item"><a href="javascript:" onclick="page(3,12,'');">3</a></span>
                        <span class="item"><a href="javascript:" onclick="page(4,12,'');">4</a></span>
                        <span class="item"><a href="javascript:" onclick="page(5,12,'');">5</a></span>
                        <span class="item"><a href="javascript:" onclick="page(6,12,'');">6</a></span>
                        <span class="item"><a href="javascript:" onclick="page(7,12,'');">7</a></span>
                        <span class="item"><a href="javascript:" onclick="page(8,12,'');">8</a></span>
                        <span class="item"><a href="javascript:" onclick="page(10,12,'');">10</a></span>
                        <span class="first_last_item"><a href="javascript:" onclick="page(2,12,'');">后页&gt;</a></span>
                    </div>
                </div>
				<div class="div_height_50"></div>
			</div>



</body>
</html>
