
.wdzh-main { width:767px; margin:0 auto; padding: 10px 10px 10px 10px; border:1px solid #bb9a75; border-top:none; border-bottom:none; background-color:#fff;}
.zcz_outline{ font-size:14px;}
.zcz_outline p{ width:159px; text-align:center; display:inline-block;}
.zcz_outline p span{ color:#c87604;}





