#content_top { width:787px; height:55px; background-color:#fcf6df; padding:20px 0; border:1px solid #BD9E7A;}
#content_top .row_1{width:715px;height:30px;margin:0 0 0 50px;}
#content_top .row_1 .column_1{float:left;width:25%;}
#content_top .row_1 .column_2{float:left;width:25%;}
#content_top .row_1 .column_3{float:left;width:25%;}
#content_top .row_1 .column_4{float:left;width:25%;}
#content_top .row_2{width:715px;height:30px;margin:0 0 0 50px;}
#content_top .row_2 .column_1{float:left;width:25%;font-size:18px;}
#content_top .row_2 .column_2{float:left;width:25%;font-size:18px;}
#content_top .row_2 .column_3{float:left;width:25%;font-size:18px;}
#content_top .row_2 .column_4{float:left;width:25%;font-size:18px;}
#content_center{overflow:hidden;width:749px;padding:30px 20px 30px 20px;}
#content_center .row_1{width:715px;height:30px;margin:0 0 0 20px;}
#content_center .row_1 .column_1{float:left;width:320px;}
#content_center .row_1 .column_2{float:left;width:100px;}
#content_center .row_1 .column_3{float:left;width:95px;padding-left:180px;}
#content_center .row_2{width:715px;height:30px; line-height:30px; margin:17px 0 17px 20px;}
#content_center .row_2 .column_1{float:left;width:320px;font-size:12px;}
#content_center .row_2 .column_2{float:left;width:100px;font-size:12px;}
#content_center .row_2 .column_3{margin-top: 3px;float:right;font-size:12px;}
#content_center .row_2 .column_4{float:left;width:95px;font-size:12px;}
#content_center .row_2 .bt_yellow_97x23 a{ display:block}
#content_center hr{width: 100%;border-top:1px solid #b38e64;border-bottom:0 none white;margin:0 20px 0 0;}
#content_center .hr_dashed{ margin-left:20px; width:709px;border-top:1px solid #EFEFEF;border-bottom:0 none white;}
#content_center .bottom{margin-left:auto;margin-right:auto;margin-top:30px;width:789px;height:44px;background:url('../../images/wdzh/right_bg_bottom.png') no-repeat center;}
#content_bottom{overflow:hidden;width:789px;}
#content_bottom .line_01{height:40px;line-height:40px;font-size:12px;margin-left:20px;margin-right:20px;}
#content_bottom .line_01 .span_text_1{font-size:16px;margin-left:20px;color:#9a6a34;}
#content_bottom .hr_dashed{margin:0;border-top:1px dashed #c7c7c7;margin-left:30px;margin-right:30px;}
#content_bottom .line_02{height:30px;line-height:30px;font-size:12px;margin-left:20px;margin-right:20px;}
#content_bottom .line_02 .span_text{width:100px;font-size:12px;margin-left:20px;}