#content_top{margin-top:5px;padding-top:25px;padding-left:5px;}
#content_top img{float:left;margin-left:20px;}
#content_top .span_text{float:left;margin-top:3px;margin-left:10px;color:#df7801;font-size:16px;;text-align:center;}

#content_center{overflow:hidden;width:789px;padding:30px 20px 30px 20px;}
#content_center .line_01{height:40px;line-height:40px;}
#content_center .line_01 .span_text_1{float:left;font-size:20px;}
#content_center .row_1{width:715px;height:35px;margin:0 0 0 20px;}
#content_center .row_1 .column_1{float:left;width:220px;}
#content_center .row_1 .column_2{float:left;width:200px;}
#content_center .row_1 .column_3{float:left;width:100px;}
#content_center .row_1 .column_4{float:right;width:150px;}
#content_center .row_2{float:right;width:715px;height:35px;margin:20px 0 0 20px;}
#content_center input{float:left;margin-top:5px;width:120px;}
#content_center hr{border-top:1px solid #b38e64;border-bottom:0 none white;margin:0 20px 0 0;}
#content_center .hr_dashed{border-top:1px dashed #c7c7c7;border-bottom:0 none white;margin-left:10px;margin-right:10px;}
#content_center .bottom{margin-left:auto;margin-right:auto;margin-top:30px;width:789px;height:44px;background:url('../../images/wdzh/right_bg_bottom.png') no-repeat center;}