<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>富定金服_首页</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
<meta http-equiv="Expires" content="0"><meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Cache-Control" content="no-store">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="decorator" content="front_with_menu"/>

<link href="../../../../../static/bootstrap/2.3.2/css_cerulean/bootstrap.css" rel="stylesheet"/>

<link href="../../../../../static/modules/front/css/util/util.css" rel="stylesheet"/>

<link href="../../../../../static/modules/front/css/layouts/front_with_menu.css" rel="stylesheet"/>
			
	</head>
	<body>
		
		<div class="div_bg_001">
			<div id="div_header_top" class="div_width_1080">
				<div class="div_left"><img id="logo" class="logo" src="../../../../../static/modules/front/images/util/logo.png"/></div>
                <div class="div_right">
                    <ul class="top_menu">
                        <li class="client">
                        	<!--<div class="popup width272" style=" width:272px; margin-left:-136px">-->
                        	<div class="popup width272" style=" width:144px; margin-left:-72px">
                            	<div class="popup_arrow"></div>
                                <div class="popup_content">
                                	<div class="text-center">敬请期待！</div>
                                	<!--<p><img src="../../../../../static/modules/front/images/util/img_tdc.png"><span>扫一扫下载<br>iOS客户端</span></p>
                                    <p><img src="../../../../../static/modules/front/images/util/img_tdc.png"><span>扫一扫下载<br>Android客户端</span></p>-->
                              </div>
                            </div>
                        	<i class="icon_phone"></i>
                            <a href="${ctxFront }/downloadApp">手机客户端</a>
                        </li>
                        
                        
                        <li class="line"></li>
                        <li class="follow">关注：</li>
                        <li class="follow ml0">
                          <div class="popup" style=" width:144px; left:50%; margin-left:-72px">
                              <div class="popup_arrow"></div>
                              <div class="popup_content">
                                  <p><img src="../../../../../static/modules/front/images/util/img_tdc.png"><span>扫一扫关注<br>花生金服微信</span></p>
                            </div>
                            </div>
                        	<a href="javascript:;" class="icon_wechat"></a>
                        </li>
                        
                        <li class="follow">
                        	<div class="popup" style=" width:144px; left:50%; margin-left:-72px">
                            	<div class="popup_arrow"></div>
                                <div class="popup_content">
                                    <p>点击关注花生金服微博<a href="#" class="btn_text_gold"><br>@花生金服</a></p>
                              </div>
                            </div>
                        	<a href="javascript:;" class="icon_weibo"></a>
                        </li>
                        <li class="line"></li>
                        <li class="help"><a href="${ctxFront}/xszy">新手指引</a></li>
                        <li class="line"></li>
                        <li class="help"><i class="icon_hot"></i><a href="javascript:;">帮助中心</a></li>
                        <li class="line"></li>
                        <li class="login_register" style="display:inline-block"><a href="javascript:;" class="btn_text_gold mr10">立即登录</a><a href="javascript:;" class="btn_text_gold">马上注册</a></li>
                        <!--登录后 显示用“display:inline-block”-->
                        <li class="logged" style="display:none">
                        	<a href="javascript:;" class="btn_text_black mr10">admin</a>
                            <a href="javascript:;" class="btn_text_black mr10">消息<span class="info_tip">9</span></a>
                            <a href="javascript:;" class="btn_text_black">退出</a>
                        </li>
                    </ul>
                    
                    <div class="service_hotline">服务热线：400-969-6599 (工作日9:00~18:00)</div>
                </div>
			</div>
			<!-- 主菜单 -->
			<div id="div_main_menu" class="div_width_1080">
				<ul class="menu_bar">
					<li class="selected"><a href="/fuding_p2p/f/wytz">首页</a></li>
					<li class=""><a href="/fuding_p2p/f/wytz">我要投资</a></li>
					<li class=""><a href="/fuding_p2p/f/willloan/willloan">我要融资</a></li>
					<li class=""><a href="/fuding_p2p/f/zxhd">最新活动</a></li>
					<!-- <li class=""><a href="/fuding_p2p/f/xszq">新手专区</a></li> -->
					<li class=""><a href="/fuding_p2p/f/gywm/index">关于我们</a></li>
					<li class=""><a href="/fuding_p2p/f/customer/summary" class="btn_text_yellow">我的账户</a></li>
                </ul>
                <div class="clearfix"></div>
			</div>
		</div>
		
		
	</body>
</html>